<div class="container" style="margin:0 auto;">
  <% if @entry != 'NOT FOUND' %>
    <div class="card mb-3">
      <%= image_tag("#{https_image_url(@entry.fields[:photo].url)}")%>
      <div class="card-body">
        <h5 class="card-title"><%= @entry.fields[:title] %></h5>
        <p class="card-text"><%= @entry.fields[:description] %></p>
        <% if @entry.fields[:tags].nil? %>
          <button type="button" class="btn btn-light">No tags</button>
        <% else %>
          <% @entry.fields[:tags].each do |tag| %>
            Tags:<button type="button" class="btn btn-light"><%= tag.fields[:name]%></button>
          <% end %>
        <% end %>
        <% if @entry.fields[:chef].nil? %>
          <p>Chef-Unkown</p>
        <% else %>
          <h5 class="card-title">Chef: <%= @entry.fields[:chef].fields[:name] %> </h5>
        <% end %>
      </div>
    <% else %>
      <p>Recipe not found!</p>
    <% end %>
  </div>
</div>